.rating {
    float:left;
    width:300px;
}
.rating span { float:right; 
    position:relative;
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
/*button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }*/

    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        float: right;
        width: auto;
        padding: 10px 18px;
        background: #ff9900;
        /*background-color: #f44336;*/
         border-radius: 25px;
    }

    .submitbtn {
        width: auto;
        padding: 10px 18px;
        background: #ff9900;
        /*background-color: #f44336;*/
         border-radius: 25px;
    }
    .sendbtn{
       width: auto;
       padding: 10px 18px;
       background: #ff9900;
       /*background-color: #f44336;*/
        border-radius: 25px;
   }
   .downlodebtn{
    width: auto;
    padding: 10px 18px;
    background-color:  #99ccff;
     border-radius: 25px;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}


/*****************************************************************/

body{
    font-family: Arial,Helvtica,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* font: 15px/1.5 Arial,Helvtica,sans-serif;*/   /*the same of the above*/
    padding: 0;
    margin: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

    }
    .container1 {

        width: 100%;
        margin-left: 0;
        overflow: hidden;
       /* background-color: #ffd699;*/
    }
    .button-1{
        height: 38px;
        background: #ff9900;
        border:0;
        padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    /* Header */

    header{
        background: #35424a;
        color: #ffffff;
        padding-top: 30px;
        border-bottom: #ff9900 3px solid ;
    }
    header a {
        color: #ffffff;
        text-decoration: none;
        /*text-transform: uppercase;*/
        font-size: 16px;
    }
    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px ;  /*(top right bottom left)*/
    }

    header #branding {
        float: left;
    }

    header #branding h1{
        margin: 0;
    }

    header nav {
     float: right;
     margin-top: 10px;
 }

 header .highlight ,header .current a {
    color: #ff9900;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* showcase*/
#showcase{
    min-height: 400px;
    background:url('../image/book2.jpg') no-repeat 0 ;  /*(0 for x axis)*/
    text-align: left ;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    margin-top: 100px;
 font-size: 50px;
}


/* newsletter */

#newsletter{
    padding: 15px;
    color: #ffffff ;
    background :#35424a;
    margin-left: 0;
}

#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
    width: 80%;
}
#newsletter input[type='text'] {
    padding: 4px;
    height: 30px;
    width: 100%;
}

/* Books */
#books{
    margin-top: 20px;
}

#books .book {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#books .book img{
    width: 90px;
}



/* footer */

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #ff9900;
    text-align: center;
}























