 <div>
    <div style="margin-left: 50px;margin-top: 50px ">
    <div>
    <img  style="width: 200px ;height = 200px "  src=  {{'..'+$ctrl.book.image}}   class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"/>
    <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
    <div class="modal-content" style=" width :800px">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{{$ctrl.book.title}}</h3>
    </div>
    <div class="modal-body">
    <div class="container-fluid">
    <div class="row content">

    <div class="col-sm-4 sidenav">
    <img src={{'..'+$ctrl.book.image}} style=" width:200px ;margin-top:20px ;border-style: solid ;border-width: 8px" />
    </div>

    <div class="container-fluid">
    <p><span style="font-weight:900"> AUTHOR :</span> {{$ctrl.book.auther}}</p>
    <p><span style="font-weight:900"> PAGES : </span> 78</p>
    <p><span style="font-weight:900"> RATING : </span> {{$ctrl.book.rating}}</p>
    <p><span style="font-weight:900"> DESCRIPTION : </span><br>  {{$ctrl.book.descreption}} </p>
    <p><span style="font-weight:900 ;margin-left:20px"> RATING : </span>
    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
    </p>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>

    </div>
    </div>
    <div>
    <div style="margin-top: 20px ">
    {{$ctrl.book.title}}
    </div>
    <div style="margin-top: 20px ">
    {{$ctrl.book.gener}}
    </div>
    <div style="margin-top: 20px ">
    {{$ctrl.book.auther}}
    </div>
    <div style="margin-top: 20px ">
    <a href={{'..'+$ctrl.book.path}} download>
    <button>Download</button>
    </a> </div>
    </div>
    </div>
    </div>
